In [ ]:
##This module is to under stand the nature of each colums by it self.

In [278]:
##Load visualization and data frame tools for each column
%matplotlib inline
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
import matplotlib
# from bokeh.io import output_notebook, show
# from bokeh.plotting import figure
# from bokeh.models import HoverTool, NumeralTickFormatter

In [279]:
raw_df = pd.read_csv('train.csv')
df = raw_df.copy()

In [280]:
df.shape

(1460, 81)

In [281]:
df.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [18]:
######(1): Id columns
##df.Id.dropna().shape returns 1460, thus NO NAs
##df.Id.nunique() returns 1460, thus NO duplicates

1460

In [282]:
#this function will get the column name and return the number of NAs, num of duplicates excluding NAs.
def summary_indetail(df):
    summ = pd.DataFrame(df.columns, columns=['name'])
    summ['type'] = [type(df[col][df[col].first_valid_index()]) for col in df.columns]
    summ['num_not_NAs'] = [df[col].dropna().shape[0] for col in df.columns]
    summ['num_dupl'] = [df[col].dropna().nunique() for col in df.columns]
    summ['ratio_NAs'] = [(1460-x)/1460 for x in summ['num_not_NAs']]
    return summ

In [260]:
#This function will plot the columns with df and range of column index as input.
def plot_individual_columns(df,range_col):
    try:
        for i in range_col:
            serie = df.iloc[:,i]
            ##There are three classes for all the columns: float, integer, and str
            if type(df.iloc[:,i].dropna().values[0]) is np.float64:
                plt.figure(i)
                sns.distplot(df.iloc[:,i].dropna(), label=('%s' %(df.columns[i])))
            else:
                if type(df.iloc[:,i].dropna().values[0]) is np.int64:
                    plt.figure(i)
                    plt.hist(df.iloc[:,i])
                    plt.xlabel('%s' %(df.columns[i]))
                else:
                    ##The category columns are not plotted. 
                    pass
            plt.show()
    except IndexError:
        print("Error: The index selected is out of the range")

In [273]:
##you can choose the range(81) to get all the plots but not the strs
#plot_individual_columns(df,range(82))

In [249]:
summary_indetail(df).head()

          name                     type  num_not_NAs  num_dupl
0           Id    <class 'numpy.int64'>         1460      1460
1   MSSubClass    <class 'numpy.int64'>         1460        15
2     MSZoning            <class 'str'>         1460         5
3  LotFrontage  <class 'numpy.float64'>         1201       110
4      LotArea    <class 'numpy.int64'>         1460      1073

In [270]:
temp= summary_indetail(df)
#temp.ratio_NAs.sort_values(ascending=False)

72       7
74      54
6       91
73     281
57     770
3     1201
59    1379
58    1379
60    1379
63    1379
64    1379
32    1422
35    1422
33    1423
31    1423
30    1423
26    1452
25    1452
42    1459
53    1460
51    1460
50    1460
49    1460
48    1460
54    1460
47    1460
52    1460
55    1460
0     1460
46    1460
      ...
12    1460
11    1460
17    1460
10    1460
8     1460
7     1460
5     1460
4     1460
2     1460
1     1460
9     1460
44    1460
18    1460
20    1460
41    1460
79    1460
39    1460
38    1460
37    1460
36    1460
19    1460
34    1460
28    1460
27    1460
24    1460
23    1460
22    1460
21    1460
29    1460
80    1460
Name: num_not_NAs, Length: 81, dtype: int64