In [1]:
import os

In [7]:
os.listdir()

['train_fe1.csv',
 'train_fe4.csv',
 'gb1_yq.csv',
 'data_description.txt',
 'X_MiscVal1st.csv',
 'rr2_yq.csv',
 '__pycache__',
 'Feature_Engineering_v4_yq.ipynb',
 'test.csv',
 'Feature_Engineering_v3_yq.ipynb',
 'Modeling.ipynb',
 'rf1_yq.csv',
 'Average of Submissions.ipynb',
 'lr1_yq.csv',
 'Feature_Engineering_v1.ipynb',
 'X_test1st.csv',
 'train_fe3.csv',
 'test_fe1.csv',
 'preprocess.py',
 '.ipynb_checkpoints',
 'X_train1st.csv',
 'Feature_Engineering_v2.ipynb',
 'test_fe3.csv',
 'train.csv',
 'test_fe4.csv',
 'stacking.py',
 'rf3_yq.csv',
 'rr1_yq.csv',
 'rf2_yq.csv',
 'y_train1st.csv',
 '.DS_Store']

In [8]:
import pandas as pd

In [9]:
rr2 = pd.read_csv('rr2_yq.csv')
rr2.head()

       SalePrice    Id
0  115338.608096  1461
1  170181.237429  1462
2  178611.554722  1463
3  197163.608691  1464
4  201116.826343  1465

In [10]:
lr1 = pd.read_csv('lr1_yq.csv')
rf2 = pd.read_csv('rf2_yq.csv')
rf3 = pd.read_csv('rf3_yq.csv')
gb1 = pd.read_csv('gb1_yq.csv')

In [20]:
df = lr1.copy()

In [21]:
# df = pd.merge(df, lr1, on='Id')
df = pd.merge(df, rf2, on='Id')
df = pd.merge(df, rf3, on='Id')
df = pd.merge(df, gb1, on='Id')

In [22]:
df.head()

     SalePrice_x    Id    SalePrice_y    SalePrice_x    SalePrice_y
0  112733.605421  1461  122164.554402  124099.520499  122717.471522
1  169346.248192  1462  165063.330158  165865.951903  172863.908893
2  178651.386374  1463  179687.009125  177064.228344  187657.453135
3  195388.704955  1464  187422.081961  185015.069768  192360.717758
4  201694.361122  1465  194878.988874  196185.539619  187424.625113

In [23]:
df.to_csv('average.csv', index=False)